:root{
  --main-bg-color:rgb(33,33,33);
  --secondary-bg-color:rgb(40,40,40);
  --tertiary-bg-color:rgb(55,55,55);

  --main-foreground-color:rgb(255,255,255);
}

html, body {
	height: 100%;
}
body{
  background: var(--main-bg-color);
}
a, p, span, h1, h2, h3, h4, h5, h6 {
  color: var(--main-foreground-color);
}


.loading-indicator{
  display:none;
}
.loading-indicator.active{
  display:inline-block;
  animation: loadingSpin 0.5s linear infinite;
  background: white;
  color: transparent;
  width: 21px;
  height: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes loadingSpin{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

button{
  background: white;
  box-shadow: none;
  border: none;
}
button:hover{
  opacity:0.9;
  box-shadow: 0px 3px 0px 0px red;
}
button.button-small{
  padding: 5px 15px;
}
button.button-regular{
  padding: 10px 30px;
  font-weight: bold;
  text-transform: uppercase;
}



app-root,
.custom-container,
.custom-container > div{
  min-height: 100%;
}
.custom-container > div{
  min-height:100vh;
}
app-main-component {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}
app-footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
}