<div class="channels-grid-container">

    <app-search (blockChannelsRefreshing)="receiveBlock($event)" [user]="user"></app-search><br />

    <button (click)="replaceChannelOrder(user)">Save channel order</button>
    <button (click)="revertChannelOrder(user)">Cancel</button>

    <div [sortablejs]="combinedChannelsArray" class="master-list">
        <div *ngFor="let channel of combinedChannelsArray" class="channel-class" style="max-height:270px; overflow-y:scroll;" id="{{channel.items[0].snippet.channelId}}">
            <span class="remove-channel-x" (click)="deleteChannel(channel, user)">X</span><br />
            {{channel.items[0].snippet.channelTitle}}
            <div *ngFor="let video of channel.items">
                {{video.snippet.title}}
            </div> 
            <br />
        </div>
    </div>


</div>