<div class="logged-out-loading">
    <div class="loading-indicator active">/</div>
</div>
<div class="logged-out-available hidden">

    <div class="container">
        <div class="inner">
            <h1>Welcome to Organize-YT!</h1>
            <p>Organize-YT lets you arrange your subscriptions and their recent videos in a drag-and-drop grid layout.</p>
            <p>Sign in with your Google account below to get started.</p>
            <div class="sign-in-box">
                <button (click)="auth.googleSignin()">Login with Google</button>
            </div>
        </div>
    </div>
    
</div>
