<body>
  <div class="container">

    <div *ngIf="auth.user$ | async as user; else login">
      <app-header [userName]="user.displayName"></app-header>
      {{user | json}}
      <br />
      
      <!-- So, right here, addedChannelIds cannot belong to user.
      I need to make another collection - say, userAddedData - and
      tie entries from user and userAddedData together with the uid. -->
      <app-channels-list [userAddedChannelIds]="user.addedChannelIds"></app-channels-list>
      <hr />
    </div>
    
    <ng-template #login>
      <app-header></app-header>
    </ng-template>

  </div>
</body>
