<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <div *ngIf="auth.user$ | async as user; else login">
      {{user | json}}
      <br />
      
      <button (click)="auth.signOut()">Sign Out</button>

      <hr />

      <button (click)="getPosts(user.addedChannelIds)">Search for stuff!</button><br /><br />

      <!-- *ngFor="let channelId of user.addedChannelIds" -->
      <div  class=""> <!-- separate different channels here. Make first iteration only show first channel's video, etc for second. Maybe with an ng if. -->

        <br />
      </div>

      <hr />

    </div>
    
    <ng-template #login>
      <button (click)="auth.googleSignin()">Login with Google</button>
    </ng-template>
    <router-outlet></router-outlet>
  </div>
</body>
