<button class="call-popup-button" (click)="getYourSubscribers(); showPopup = !showPopup; allowChannelComparisons = true">Add Channels (call command and show popup)</button>
<br />
<button class="just-popup-button hide" (click)="showPopup = !showPopup; allowChannelComparisons = true">Add Channels (just show popup)</button>

<div class="subscriptions-list-popup-wrapper" [ngClass]="{'popup-inactive': showPopup, 'popup-active': !showPopup}">

    <span class="popup-bg-dim" (click)="showPopup = !showPopup"></span>
    <span class="popup-close-x" (click)="showPopup = !showPopup">X</span>

    <div class="popup-outer">
        <div class="popup-rendered" *ngIf="allUserChannelsData !== undefined">
            
            <div class="popup-inner-container">
                <div *ngFor="let channel of allUserChannelsData; let i = index" 
                (click)="getSubscriptionChannelId(i)" 
                class="channel-item subscription-{{i}}" 
                id="list-{{channel.DataChannelId}}">
                    <div class="image-and-title">
                        <img src="{{channel.DataThumbnail}}" />
                        {{channel.DataTitle}}
                    </div>
                    <div class="remove-indicator">X</div>
                </div>
            </div>

            <div class="popup-footer">
                <div class="popup-foter-buttons">
                    <button (click)="addChannelsToArray(user); showPopup = !showPopup">Add Selected Channels</button>
                    <button (click)="clearSelection()">Clear Selection</button>
                </div>
            </div>
    
        </div>

        <div class="loading-container">
            <div class="loading-indicator-subslist"></div>
            <p style="bottom:-40px; position:relative;">This may take a bit.</p>
        </div>
    </div>
</div>
    


