.footer {
    display:block;
    background:rgb(28,28,28);
    width:100%;
    display:flex;
    justify-content:center;
    height:24px;
}
.footer-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:320px;
}
.footer-inner a{
    color:rgb(100,200,255);
}
.footer-inner p{
    margin:0;
}
