<div class="channel-list-section">
    <button class="btn-edit-channel-order" (click)="enableEditMode()">Edit Channel Order</button><br />
    <button class="btn-save-channel-order" (click)="replaceChannelOrder(user)">Save channel order</button><br />
    <button class="btn-cancel" (click)="revertChannelOrder(user)">Cancel</button>

    <div [sortablejs]="combinedChannelsArray" class="master-list">
        <div *ngFor="let channel of combinedChannelsArray" class="channel-class" id="{{channel.items[0].snippet.channelId}}">
            <div class="drag-overlay">
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <span class="remove-channel-x" (click)="deleteChannel(channel, user)">X</span><br />
            {{channel.items[0].snippet.channelTitle}}
            <div *ngFor="let video of channel.items">
                <a href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}">{{video.snippet.title}}</a>
            </div> 
            <br />
        </div>
    </div>
    
</div>